* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(61, 61, 61);
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border: solid 1px rgb(212, 212, 212);
    border-radius: 5px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.col {
    display: flex;
    justify-content: center;
}

.score {
    display: flex;
    gap: 30px;
    padding: 0 30px;
    border: solid 1px rgb(212, 212, 212);
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

.user-score {
    font-weight: 900;
    color: rgb(0, 0, 0);
}

p {
    text-align: center;
    font-size: 1.5rem;
}

p.small {
    font-size: 1rem;
}

.rock, .paper, .scissors {
    text-align: center;
    padding: 20px;
    transition: all .2s ease-in-out; 
}

.msg {
    padding: 10px;
}

.rock:hover, .paper:hover, .scissors:hover, button.reset:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.fa-solid {
    font-size: 5.5rem;
}

button.reset {
    padding: 10px;
    font-size: 0.8rem;
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.2rem;
    }

    p.small {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

}