@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 24, 37);
    font-family:'Dosis', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(221, 221, 221);
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(29, 24, 37);
    border: solid 1px rgb(48, 45, 53);
    border-radius: 5px;
    flex-wrap: wrap;
}

.col {
    display: flex;
    justify-content: center;
}

.score {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.user-score {
    font-weight: 900;
    color: rgb(221, 221, 221);
}

p {
    text-align: center;
    font-size: 1.5rem;
}

p.small {
    font-size: 1rem;
}

.rock, .paper, .scissors {
    text-align: center;
    padding: 20px;
    transition: all .2s ease-in-out; 
}

.msg {
    padding: 10px;
}

.rock:hover, .paper:hover, .scissors:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button.reset:hover {
    background-color: rgb(53, 24, 87);
    cursor: pointer;
}

.fa-solid {
    font-size: 5.2rem;
    color: rgb(221, 221, 221);
}

button.reset {
    padding: 5px 10px;
    font-size: 0.7rem;
    background-color: rgb(69, 32, 112);
    color: white;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Mansalva', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.1rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

footer a {
    color: rgb(119, 0, 255);
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1.2rem;
    }

    p.small {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

}